//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.05
//Part Number: GW2AR-LV18QN88PC7/I6
//Device: GW2AR-18C
//Created Time: Mon 03 14 18:34:12 2022

IO_LOC "usb_pullup_en_o" 80;
IO_PORT "usb_pullup_en_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "usb_term_dn_io" 74;
IO_PORT "usb_term_dn_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "usb_term_dp_io" 75;
IO_PORT "usb_term_dp_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "usb_dxp_io" 73,72;
IO_PORT "usb_dxp_io" PULL_MODE=NONE DRIVE=4;
IO_LOC "IIS_DATA_O" 82;
IO_PORT "IIS_DATA_O" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "IIS_BCLK_O" 83;
IO_PORT "IIS_BCLK_O" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "IIS_LRCK_O" 81;
IO_PORT "IIS_LRCK_O" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "IIS_LRCK_I" 84;
IO_PORT "IIS_LRCK_I" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "IIS_BCLK_I" 85;   
IO_PORT "IIS_BCLK_I" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;   
IO_LOC "IIS_DATA_I" 86;

IO_LOC "usb_rxdn_i" 71;
IO_PORT "usb_rxdn_i" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC "usb_rxdp_i" 77;
IO_PORT "usb_rxdp_i" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC "CLK_IIS_I" 35;
IO_PORT "CLK_IIS_I" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "CLK_IN" 10;
IO_PORT "CLK_IN" IO_TYPE=LVCMOS33 PULL_MODE=UP;
//IO_LOC "usb_vbus" 31;
//IO_PORT "usb_vbus" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
